body {
  color: #565656;
  background: #F0F3F3;
  padding: 80px 0 0;
}
/* Tema */
.panel {
  border: none;
  border-radius: 0;
  margin-top: 30px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.form-group label.error {
  right: 0;
}
.logo {
  padding-bottom: 0;
}
.loader {
  background: #fff url('../img/loader-logo.png') no-repeat 50% 50%;
  width: 160px;
  height: 160px;
  margin: -80px 0 0 -80px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.loader > .spin {
  animation: spin 2s infinite linear;
  display: block;
  transform-origin: 50% 50%;
  width: 160px;
  height: 160px;
  background: url('../img/loader-spin.png') no-repeat 50% 50%;
}
