
/* #4FA444 */
.btn-color {
  color: #ffffff;
  background-color: #4FA444;
  border-color: #4FA444;
}
.btn-color:focus,
.btn-color.focus {
  color: #ffffff;
  background-color: #62CC55;
  border-color: #62CC55;
}
.btn-color:hover {
  color: #ffffff;
  background-color: #62CC55;
  border-color: #62CC55;
}
.btn-color:active,
.btn-color.active,
.open > .dropdown-toggle.btn-color {
  color: #ffffff;
  background-color: #62CC55;
  border-color: #62CC55;
}
.btn-color:active:hover,
.btn-color.active:hover,
.open > .dropdown-toggle.btn-color:hover,
.btn-color:active:focus,
.btn-color.active:focus,
.open > .dropdown-toggle.btn-color:focus,
.btn-color:active.focus,
.btn-color.active.focus,
.open > .dropdown-toggle.btn-color.focus {
  color: #ffffff;
  background-color: #62CC55;
  border-color: #122b40;
}
.btn-color:active,
.btn-color.active,
.open > .dropdown-toggle.btn-color {
  background-image: none;
}
.btn-color.disabled,
.btn-color[disabled],
fieldset[disabled] .btn-color,
.btn-color.disabled:hover,
.btn-color[disabled]:hover,
fieldset[disabled] .btn-color:hover,
.btn-color.disabled:focus,
.btn-color[disabled]:focus,
fieldset[disabled] .btn-color:focus,
.btn-color.disabled.focus,
.btn-color[disabled].focus,
fieldset[disabled] .btn-color.focus,
.btn-color.disabled:active,
.btn-color[disabled]:active,
fieldset[disabled] .btn-color:active,
.btn-color.disabled.active,
.btn-color[disabled].active,
fieldset[disabled] .btn-color.active {
  background-color: #4FA444;
  border-color: #4FA444;
}
